*{
    font-family: sans-serif;
    color: whitesmoke;
}

#encabezado{
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}

#encabezado h1{
    display: inline;
    text-align: center;
    color: red;
}

#thead{
    text-align: center;
    background-color: black;
    color: steelblue;
}
#tbody{
    text-align: center;
    background-color: darkslategray;
    color:white;
}

#navegador{
    position: absolute;
    top:8%;
    height: 6%;
    left: 0;
    width: 100%;
    background-color: grey;
    color: powderblue;
    text-decoration: none;
}

#navegador a:hover{
    background-color: green;
    color: white;

    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    transition: 0.5s;
    color:black;
}
#navegador a{
    background-color: slategrey;
    top: 8%;
    margin-left: 50px;
    text-decoration:none;
}
#contenido{
    position: absolute;
    top: 14%;
    left: 0;
    height: 80%;
    width: 100%;
    background-color: goldenrod;
    padding: 10px ;
    overflow: auto;
    text-align: center;
}

#form{
    background-color: slategrey;
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 25%;
    padding-top: 20px;
    padding-left: 20px;
}

#encabezadoAP{
    position: absolute;
    top: 0;
    left: 0%;
    height: 8%;
    width: 100%;
    background-color: darkslategrey;
    display: inline;
    padding-left: 6px;
}
#input[type="submit"]{
    background-color: darkmagenta;
}

#form input[type="text"]{
   background-color: dimgrey;
   color: white;
}

#form input[type="number"]{
   background-color: dimgrey;
   color: white;
}

#navegadorAP{
    top: 8.0%;
    background-color: darkcyan;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    left: 0%;
    width: 100%;
    position: absolute;
}

#h2Plantilla{
    background-color: black;
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px
}

#pieDePagina{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6%;
    width: 100%;
    background-color: black;
    text-align: center;
}