<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Paises</title>
        <meta charset="UTF-8">
        <link href="css/estilo1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <header th:replace="layout/plantilla :: header"/>
    <h2>Paises Poco Reconocidos</h2>
     <nav id="navegador">
         <a th:href="@{/nuevoPais}" >Nuevo País</a>
     </nav>
         
        <section id="contenido">
            <div th:if = "${paises != null and !paises.empty}">
                <table border="1"  style="border-color: black">
                    <thead id="thead">
                        <tr>
                            <th>Nombre:</th>
                            <th>Capital:</th>
                            <th>Idioma:</th>
                            <th>Población:</th>
                            <th>Continente:</th>
                            <th>Eliminar</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr th:each="pais : ${paises}">
                            <td th:text="${pais.nombre}"></td>
                            <td th:text="${pais.capital}"></td>
                            <td th:text="${pais.idioma}"></td>
                            <td th:text="${pais.poblacion}"></td>
                            <td th:text="${pais.continente}"></td>
                            <td><a th:href="@{/eliminarPais/} + ${pais.idPais}">Eliminar</a></td>
                            <td><a th:href="@{/modificarPais/} + ${pais.idPais}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${paises == null or paises.empty}">
                La lista esta vacía
            </div>
        </section>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
