<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Paises</title>
        <meta charset="UTF-8">
        <link href="css/estilo1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/agregarPais :: header"/>
        <nav id="navegadorAP"><a th:href="@{/}">Regresar</a></nav>
        <div th:replace="layout/agregarPais :: div"/>
        <form th:action="@{/guardarPais}"
            method="post"
            th:object="${pais}" id="form">
            <input type="hidden" name="idPais" th:field="*{idPais}"/>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br/>
            <label for="capital">Capital:</label>
            <input type="text" name="capital" th:field="*{capital}"/>
            <br/>
            <label for="idioma">Idioma:</label>
            <input type="text" name="idioma" th:field="*{idioma}"/>
            <br/>
            <label for="continente">Continente:</label>
            <input type="text" name="continente" th:field="*{continente}"/>
            <br/>
            <br/>
            <label for="poblacion">Poblacion:</label>
            <input type="number" name="poblacion" th:field="*{poblacion}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar" id="input"/>
            <br/>
        </form>
        <footer th:replace="layout/agregarPais :: footer" />
    </body>
</html>